.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#013880;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    /* box-shadow: 2px 2px 3px #999; */
    z-index: 999999999;
}

.my-float{
	margin-top:22px;
}

body {
 
  /* Search Active */
  &.search-active {
    overflow: hidden;
    .search-input {
      opacity: 1;
      transform: none;
      pointer-events: all;
    }
    .icon-close {
      opacity: 1;
      transform: rotate(-90deg);
    }
    .control {
      cursor: default;
      .btn-material {
        transform: scale(70);
      }
      .icon-material-search {
        opacity: 0;
      }
    }
  }
}


/* Close Icon */

.icon-close {
  position: fixed;
  top: 30px;
  right: 30px;
  color: #FFF;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: rotate(0);
  }
}


/* Search Input */

.search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate( 40px, 0);
  transition: all 0.3s ease-in-out;
  input {
    color: #fff;
    font-size: 54px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    font-weight: 200;
  }
  ::-webkit-input-placeholder {
    color: $color-placeholder;
  }
  :-moz-placeholder {
    color: $color-placeholder;
    opacity: 1;
  }
  ::-moz-placeholder {
    color: $color-placeholder;
    opacity: 1;
  }
  :-ms-input-placeholder {
    color: $color-placeholder;
  }
}


/* Container */

.container {
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  &.container-dark {
    background: $color-header;
    color: #FFF;
  }
}


/* Control btn */

.control {
    cursor: pointer;
  }
  .control .btn-material {
    position:fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
    border-radius: 100%;
    box-sizing: border-box;
    outline: 0;
    transform-origin: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .control .btn-material:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .control .icon-material-search {
    color: #FFF;
    position: absolute;
    top: -10px;
    right: 78px;
    transition: opacity 0.3s ease-in-out;
  }




/* Utilities */

.p-y-md {
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;
}


/* Typo */

h1,
h2 {
  font-weight: 300;
}