  
  section {
    display: block;
    position: relative;
    margin-top: 2em;
  }
  
  label {
    list-style: none;
    border-bottom: 2px solid #FFBD07;
    padding: 10px 20px 5px 24px;
    font-family: 'AvenirNextLTPro-Regular';
    font-size: 14px;
    text-align: left;
    color: #013880;
    position: relative;
    display: block;
    /* width: 100%;
    border-radius: 3px;
    border: 1px solid #d1d3d4;
    color: #d4d4d4;
    background: #ffffff;
    line-height: 2.5em;
    text-indent: 3.25em; */
  }
  
  input.radio:empty {
    margin-left: -9999px;
  }
  
  input.radio:empty ~ label {
    display: block;
    position: relative;
    bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  input.radio:empty ~ label:before {
    /* position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px; */
  }
  
  input.radio:hover:not(:checked) ~ label:before {
    /* content: '\2714';
    text-indent: .9em;
    color: #C2C2C2; */
  }
  
  input.radio:hover:not(:checked) ~ label {
    color: #888;
    transition: 0.25s ease-in-out;
  }
  
  input.radio:checked ~ label:before {
    /* content: '\2714';
    text-indent: .9em;
    color: #FFFFFF;
    background: #4DCB6D;
    transition: 0.25s ease-in-out; */
  }
  
  input.radio:checked ~ label {
    color: #777;
    background-color: #FFBD07;
    box-shadow: 3px 3px 10px 0px rgba(69, 90, 100, 0.5);
    transition: 0.25s ease-in-out;
  }
  
  input.radio:focus ~ label:before {
    transition: 0.25s ease-in-out;
    color: white;
  }
  